<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Футбол</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Футбол</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <div class="scores">
            <span class="team">Маккаби</span><span class="goals"></span>:<span class="goals"></span>:<span class="team">4 Зенит</span>
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#game" aria-controls="home" role="tab"
                                                          data-toggle="tab">Ход матча</a></li>
                <li role="presentation"><a href="#players" aria-controls="profile" role="tab"
                                           data-toggle="tab">Игроки</a></li>
                <li role="presentation"><a href="#changes" aria-controls="messages" role="tab"
                                           data-toggle="tab">Замены</a></li>
                <li role="presentation"><a href="#cards" aria-controls="settings" role="tab"
                                           data-toggle="tab">Карточки</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="game">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Минута</th>
                            <th>Событие</th>
                            <th>Описание</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Начало игры.</td>
                            <td>Итак игра началась.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="players">
                    Основные игроки
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Номер</th>
                            <th>ФИО</th>
                            <th>Время на поле(минут)</th>
                            <th>Желтых карточек</th>
                            <th>Красных карточек</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>13</td>
                            <td>Александр Александров</td>
                            <td>46</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                    Запасные игроки
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Номер</th>
                            <th>ФИО</th>
                            <th>Время на поле(минут)</th>
                            <th>Желтых карточек</th>
                            <th>Красных карточек</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>67</td>
                            <td>Александр Сергеев</td>
                            <td>14</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="changes">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Игрок</th>
                            <th>Замена</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Иван Иванов</td>
                            <td>Александр Сергеев</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="cards">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Игрок</th>
                            <th>Карточка</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Иван Иваное</td>
                            <td>Желтая</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>